<?xml version="1.0"?>
<launch>
    <node pkg="nodelet" type="nodelet" name="manager" args="manager"
        output="screen">
      <param name="ltest0" value="1"/>
    </node>

    <node pkg="nodelet" type="nodelet" 
        name="demo0"
        args="load nodelet_demo/NodeletDemo manager"
        output="screen">
      <param name="callback_delay" value="1.0" />
    </node>

    <node name="gen_input" pkg="nodelet_demo" type="gen_input.py"
        output="screen" ns="demo0" >
      <param name="period" value="0.8" />
    </node>

    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
        args="input output" ns="demo0"
        output="screen" if="false" />
</launch>
