<?xml version="1.0"?>
<launch>
  <arg name="period" default="0.5" />
  <arg name="mt_callback" default="false" />

  <group>
    <node pkg="nodelet" type="nodelet" name="manager" args="manager"
        output="screen">
      <param name="ltest0" value="1"/>
    </node>

    <group if="true">
      <node name="gen_input" pkg="nodelet_demo" type="gen_input.py"
          output="screen" if="false" >
        <param name="period" value="$(arg period)" />
        <remap from="input" to="input" />
      </node>

      <!-- the demux crashes:

[[/manager] [/opt/ros/kinetic/include/nodelet_topic_tools/nodelet_demux.h]:[163] [[nodelet::NodeletDEMUX::init] Publishing to 2 user given topics as outputs:]
[[/manager] [/opt/ros/kinetic/include/nodelet_topic_tools/nodelet_demux.h]:[165] [ - input1]
[[/manager] [/opt/ros/kinetic/include/nodelet_topic_tools/nodelet_demux.h]:[165] [ - input2]
nodelet: /usr/include/boost/smart_ptr/shared_ptr.hpp:641: typename boost::detail::sp_dereference<T>::type boost::shared_ptr<T>::operator*() const [with T = ros::Publisher; typename boost::detail::sp_dereference<T>::type = ros::Publisher&]: Assertion `px != 0' failed.
[[/data_demux] [/tmp/binarydeb/ros-kinetic-nodelet-1.9.14/src/nodelet.cpp]:[228] [Failed to load nodelet '/data_demux` of type `nodelet_demo/Float32NodeletDemux` to manager `manager']
[manager-1] process has died [pid 10468, exit code -6, cmd /opt/ros/kinetic/lib/nodelet/nodelet manager __name:=manager __log:=/home/lucasw/.ros/log/6f210a04-927b-11e8-9cee-d8fc93bc28de/manager-1.log].


The pcl demux also fails, but doesn't give the assertion failure.
      -->
      <!-- args="load pcl/NodeletDEMUX manager" output="screen"-->
      <node pkg="nodelet" type="nodelet" name="data_demux"
          args="load Float32NodeletDemux manager" output="screen">
        <!--remap from="input" to="input" /-->
        <rosparam>
          output_topics: [input1, input2]
        </rosparam>
      </node>
    </group>

    <group if="false">
      <node name="gen_input1" pkg="nodelet_demo" type="gen_input.py"
          output="screen" >
        <param name="period" value="$(arg period)" />
        <remap from="input" to="input1" />
      </node>
      <node name="gen_input2" pkg="nodelet_demo" type="gen_input.py"
          output="screen" >
        <param name="period" value="$(arg period)" />
        <param name="start" value="10000" />
        <remap from="input" to="input2" />
      </node>
    </group>

    <node pkg="nodelet" type="nodelet"
        name="demo0"
        args="load nodelet_demo/NodeletDemo manager"
        if="false"
        output="screen">
      <param name="callback_delay" value="1.0" />
      <param name="mt_callback" value="$(arg mt_callback)" />
    </node>

    <!-- This kills the manager
    <node pkg="nodelet" type="nodelet"
        name="demo1"
        args="load nodelet_demo/NodeletDemo manager"
        output="screen">
      <param name="callback_delay" value="1.0" />
      <param name="mt_callback" value="$(arg mt_callback)" />
    </node>
    -->

    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
        args="input output"
        output="screen" if="false" />

  </group>
</launch>
